* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(1, 14, 1);
    flex-direction: column;
}

.line {
    border-right: 2px solid #00a500;
    color: #00a500;
    font-family: "Roboto Mono";
    font-size: 2em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-top: 10%;
}

.typing-animation {
    animation: blinkCursor 500ms infinite normal, typing 3s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 18em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}



.loading {
    border: 16px solid lightgrey;
    width: 100px;
    height: 100px;
    border-top: 16px solid #00a500;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 5%;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg); }
}